<div class="news-container">
  
    <div class="news-card">
        <img src="assets/card1.avif" alt="Noticia 1" class="card-image">
        <div class="card-content">
          <h4>La Iglesia católica, en primera línea de la lucha contra la epidemia de violencia en México</h4>
          <p>La institución religiosa redobla los mensajes contra las autoridades y se reúne con el Gobierno para atajar la inseguridad. Los sacerdotes en zonas de conflicto ven con recelo las conversaciones.</p>
          <button routerLink="vermas" class="read-more">
            SEGUIR LEYENDO
          </button>
        </div>
      </div>
  
    
    <div class="news-card">
      <img src="assets/card2.avif" alt="Noticia 2" class="card-image">
      <div class="card-content">
        <h4>RCheco Pérez acumula otra carrera endemoniada, ahora en el Gran Premio de Brasil</h4>
        <p>Para Checo Pérez, Brasil fue una carrera llena de demonios. Otra vez tuvo que sufrir para tomar las riendas de un auto remendado y que le genera demasiadas dudas en la pista . La lluvia  empeoró la situación.. </p>
        <button routerLink="vermas" class="read-more">
          SEGUIR LEYENDO
        </button>
      </div>
    </div>
  
    <div class="news-card">
      <img src="assets/card3.jpeg" alt="Noticia 3" class="card-image">
      <div class="card-content">
        <h4>INE alista la elección más cara de la historia
          INE aprobará, este lunes.</h4>
        <p>El INE continúa paralizado hasta que, el lunes, la Suprema Corte determine si procede o no el proceso de renovación judicial. Asimismo, de lo único que se tiene certeza es que será la elección más cara de la historia.</p>
        <button routerLink="vermas" class="read-more">
          SEGUIR LEYENDO
        </button>
      </div>
    </div>
  </div>
  