<div class="main-container">
  <div class="menu-container">
      <div class="menu-button">NEWS</div>
      <button class="menu-item" routerLink="menu" >Tecnologías</button>
      <div class="menu-item">Políticas</div>
      <div class="menu-item">Deportivas</div>
      <div class="menu-item">Económicas</div>
      <div class="menu-item">Científicas</div>
      <div class="menu-item">Sociales</div>
      <div class="menu-item">Educativos</div>
      <div class="menu-item">Amorosos</div>
      <div class="menu-item">Locales</div>
      <div class="menu-item">Culturales</div>
      <div class="menu-item">Salud</div>
      <div class="menu-item">Científicas</div>
      <div class="menu-item">Deportivas</div>
  </div>


    
    <div class="news-section">
      <div class="news-item featured-news">
        <img src="assets/narco.avif" alt="Noticia 1" class="news-image">
        <div class="news-content">
          <h4>Narcoviolencia, miedo y política: el fantasma del terrorismo planea sobre la relación entre México y Estados Unidos</h4>
          <p>La barbarie de las últimas semanas ha vuelto a encender el debate sobre el uso del terror por los grupos criminales, pero sus implicaciones atraviesan también temas como la migración, el comercio y la elección entre Trump y Harris</p>
          <button routerLink="vermas" class="read-more">
            SEGUIR LEYENDO
          </button>
        </div>
      </div>
      <div class="news-item">
        <img src="assets/nt.jpg" alt="Noticia 2" class="news-image">
        <div class="news-content">
          <h4>Ofrecen presupuesto sin fobias partidistas; Ramírez Cuéllar: prioridad, bajar el déficit fiscal</h4>
          <p>Para asignar el Presupuesto 2025 habrá un debate público con todos los actores sociales y económicos del país, aseguró Alfonso Ramírez Cuéllar, vicecoordinador de la diputación morenista.</p>
          <button routerLink="vermas" class="read-more">
            SEGUIR LEYENDO
          </button>
        </div>
      </div>
    </div>
  </div>
  