<app-header></app-header>
 <div class="form-wrapper">
    <button class="menu-item" routerLink="/inicio">
      <img src="assets/atras.png" alt="Volver" class="side-logo" />
    </button>
<div class="ver-mas-container">
    <img src="assets/narco.avif" alt="Descripción de la imagen" class="ver-mas-image" />
    <div class="ver-mas-text">
      <h2>Narcoviolencia, miedo y política: el fantasma del terrorismo planea sobre la relación entre México y Estados Unidos.</h2>
      <p>Dos coches bomba en Guanajuato. La decapitación del alcalde de Chilpancingo, en Guerrero. El hallazgo de un cuerpo descuartizado y abandonado en una hielera envuelta con moños de regalo en Sinaloa. En medio de una espiral que dejó casi 200.000 muertos en el sexenio pasado, la violencia ha alcanzado niveles de sofisticación y barbarie que escapan lo que alcanzan a contar las estadísticas. La crisis de seguridad ha sido el principal desafío en el inicio del Gobierno de Claudia Sheinbaum y ha colocado a México frente a una discusión tan incómoda</p>
    </div>
  </div>
 