
<app-header></app-header>
<div class="form-wrapper">
  <button class="menu-item" routerLink="/inicio">
    <img src="assets/atras.png" alt="Volver" class="side-logo" />
  </button>

<div class="recomendaciones-container">
    <h1>Recomendaciones</h1>
    
    <div class="recomendacion-card">
      <img src="assets/recomendaciones.avif" alt="Descripción de la recomendación" class="recomendacion-image" />
      <div class="recomendacion-content">
        <h2>Sheinbaum asegura tener un plan ante votación para invalidar la reforma judicial; “estamos preparados”, dice</h2>
        <p>Sobre la discusión de este martes en la Suprema Corte de Justicia de la Nación (SCJN) para invalidar parcialmente la reforma judicial, la presidenta Claudia Sheinbaum Pardo aseguró que “estamos preparados”, además que su gobierno ya tiene un plan, independientemente de cómo voten los ministros y las ministras.“De cualquier forma nosotros estamos preparados, para una o para otra”, dijo Sheinbaum Pardo sobre el proyecto del ministro Juan Luis González Alcántara Carrancá.</p>
        <button class="ver-mas-button">Ver Más</button>
      </div>
    </div>
  
    <div class="recomendacion-card">
        <img src="assets/recomendaciones.avif" alt="Descripción de la recomendación" class="recomendacion-image" />
        <div class="recomendacion-content">
          <h2>Sheinbaum asegura tener un plan ante votación para invalidar la reforma judicial; “estamos preparados”, dice</h2>
          <p>Sobre la discusión de este martes en la Suprema Corte de Justicia de la Nación (SCJN) para invalidar parcialmente la reforma judicial, la presidenta Claudia Sheinbaum Pardo aseguró que “estamos preparados”, además que su gobierno ya tiene un plan, independientemente de cómo voten los ministros y las ministras.“De cualquier forma nosotros estamos preparados, para una o para otra”, dijo Sheinbaum Pardo sobre el proyecto del ministro Juan Luis González Alcántara Carrancá.</p>
          <button class="ver-mas-button">Ver Más</button>
        </div>
    </div>
  
    <div class="recomendacion-card">
        <img src="assets/recomendaciones.avif" alt="Descripción de la recomendación" class="recomendacion-image" />
        <div class="recomendacion-content">
          <h2>Sheinbaum asegura tener un plan ante votación para invalidar la reforma judicial; “estamos preparados”, dice</h2>
          <p>Sobre la discusión de este martes en la Suprema Corte de Justicia de la Nación (SCJN) para invalidar parcialmente la reforma judicial, la presidenta Claudia Sheinbaum Pardo aseguró que “estamos preparados”, además que su gobierno ya tiene un plan, independientemente de cómo voten los ministros y las ministras.“De cualquier forma nosotros estamos preparados, para una o para otra”, dijo Sheinbaum Pardo sobre el proyecto del ministro Juan Luis González Alcántara Carrancá.</p>
          <button class="ver-mas-button">Ver Más</button>
        </div>
    
  </div>
  