
<header class="header-container">
    <div class="logo">
        <img src="assets/logodino.png" alt="Dino News Logo" class="logo-image" />
        <span class="logo-text">Dino News</span>
    </div>
    <nav class="nav-links">
        <button routerLink="login" class="nav-button">Noticias Más Buscadas</button>
        <button routerLink="login" class="nav-button">Recomendaciones</button>
        <button routerLink="login" class="nav-button">Mi Contenido</button>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Buscar" class="search-input" />
        <button class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="user-container">
        <button class="user-icon">
            <i class="fa fa-user"></i>
        </button>
    </div>
</header>
<div class="form-wrapper">
    <button class="menu-item" routerLink="/micontenido">
      <img src="assets/atras.png" alt="Volver" class="side-logo" />
    </button>

<div class="form-container">
    <h2>AGREGAR NOTICIA</h2>
    <form (ngSubmit)="agregarNoticia()" #noticiaForm="ngForm">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" [(ngModel)]="newPost.titulo" name="titulo" required />

        <label for="descripcion">Descripción Breve:</label>
        <input type="text" id="descripcion" [(ngModel)]="newPost.descripcion_breve" name="descripcion" required />

        <label for="contenido">Contenido:</label>
        <textarea id="contenido" [(ngModel)]="newPost.contenido" name="contenido" required></textarea>

        <label for="categoria">Categoría:</label>
        <select id="categoria" [(ngModel)]="newPost.categoria_id" name="categoria" required>
            <option value="1">Tecnología</option>
            <option value="2">Salud</option>
            <option value="3">Deportes</option>
            <option value="4">Cultura</option>
            <option value="5">Política</option>
            <option value="6">Económicas</option>
            <option value="7">Científicas</option>
            <option value="8">Sociales</option>
            <option value="9">Educativos</option>
            <option value="10">Amorosos</option>
        </select>

        <label for="fecha">Fecha de Publicación:</label>
        <input type="date" id="fecha" [(ngModel)]="newPost.fecha_publicacion" name="fecha" required />

        <label for="origen">Origen:</label>
        <input type="text" id="origen" [(ngModel)]="newPost.origen" name="origen" required />

        <label for="autor">Autor:</label>
        <input type="text" id="autor" [(ngModel)]="newPost.autor" name="autor" required />

        <label for="fuente">Fuente de la Noticia:</label>
        <input type="text" id="fuente" [(ngModel)]="newPost.fuente_publicacion" name="fuente" required />

        <button type="submit">Agregar Noticia</button>
    </form>
</div>
