<app-header></app-header>
<div class="form-wrapper">
  <button class="menu-item" routerLink="/inicio">
    <img src="assets/atras.png" alt="Volver" class="side-logo" />
  </button>
<div class="noticias-buscadas-container">
    <h1>Noticias Más Buscadas</h1>
    
    <div class="noticia-card">
      <img src="assets/buscadas.jpeg" alt="Descripción de la noticia" class="noticia-image" />
      <div class="noticia-content">
        <h2>Parejos en encuestas, Trump aviva discurso de un fraude electoral</h2>
        <p>Estados Unidos será escenario este martes de lo que se perfila como la elección más reñida de la historia moderna, la más onerosa y la más polarizante.A 24 horas de las votaciones, más de 75 millones de personas ya sufragaron anticipadamente </p>
        <button class="ver-mas-button">Ver Más</button>
      </div>
    </div>
  
    <div class="noticia-card">
      <img src="assets/buscadas.jpeg" alt="Descripción de la noticia" class="noticia-image" />
      <div class="noticia-content">
        <h2>Parejos en encuestas, Trump aviva discurso de un fraude electoral</h2>
        <p>Estados Unidos será escenario este martes de lo que se perfila como la elección más reñida de la historia moderna, la más onerosa y la más polarizante.A 24 horas de las votaciones, más de 75 millones de personas ya sufragaron anticipadamente</p>
        <button class="ver-mas-button">Ver Más</button>
      </div>
    </div>
  
    <div class="noticia-card">
      <img src="assets/buscadas.jpeg" alt="Descripción de la noticia" class="noticia-image" />
      <div class="noticia-content">
        <h2>Parejos en encuestas, Trump aviva discurso de un fraude electoral</h2>
        <p>Estados Unidos será escenario este martes de lo que se perfila como la elección más reñida de la historia moderna, la más onerosa y la más polarizante.A 24 horas de las votaciones, más de 75 millones de personas ya sufragaron anticipadamente</p>
        <button class="ver-mas-button">Ver Más</button>
      </div>
    </div>

  </div>
  