<header class="header-container">
    <div class="logo">
        <img src="assets/logodino.png" alt="Dino News Logo" class="logo-image" />
        <span class="logo-text">Dino News</span>
    </div>
    <nav class="nav-links">
        <button routerLink="noticiasmasbuscadas" class="nav-link">Noticias Más Buscadas</button>
        <button routerLink="recomendaciones" class="nav-link">Recomendaciones</button>
    </nav>
    <div class="search-bar">
        <input type="text" placeholder="Buscar" class="search-input" />
        <button class="search-button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <button routerLink="/login" class="login-button">
        <i class="fa fa-user"></i> 
        LOGIN
    </button>
</header>
