.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 2px solid #9ccc65;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 110px;
    margin-right: 8px;
}

.logo-text {
    font-size: 18px;
    font-weight: bold;
    color: #4caf50;
    font-family: 'Comic Sans MS', sans-serif;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-size: 18px;
    color: #4caf50;
    background-color: #e8f5e9;
    border: 1px solid #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #4caf50;
    color: #ffffff;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #4caf50;
    border-radius: 5px;
    overflow: hidden;
}

.search-input {
    border: none;
    padding: 10px;
    outline: none;
}

.search-button {
    background: none;
    border: none;
    color: #4caf50;
    cursor: pointer;
}

.search-button:hover {
    color: #2e7d32;
}

.login-button {
    display: flex;
    align-items: center;
    background-color: #FCFCFC;
    color: #1B7F1B;
    border: 1px solid #4caf50;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: #4caf50;
    color: #ffffff;
}

.login-button i {
    margin-right: 5px;
    font-size: 20px;
}
