<footer class="footer">
    <div class="footer-section logo-section">
      <img src="assets/dino.png" alt="Dino News" class="footer-logo" />
      
    </div>
    
    <div class="footer-section">
      <h3>SERVICIO AL CLIENTE</h3>
      <ul>
        <li><a href="#">Términos Y Condiciones</a></li>
        <li><a href="#">Políticas de Envíos</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>INFORMACIÓN</h3>
      <ul>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Devoluciones</a></li>
      </ul>
    </div>
  
    <div class="footer-section social-media">
      <h3>Encuéntranos en :</h3>
      <div class="social-icons">
        <a href="#" class="social-icon"><img src="assets/facebook-icon.png" alt="Facebook" /></a>
        <a href="#" class="social-icon"><img src="assets/instagram-icon.png" alt="Instagram" /></a>
        <a href="#" class="social-icon"><img src="assets/twitter-icon.png" alt="Twitter" /></a>
      </div>
    </div>
  </footer>
  